<div class="d-flex flex-column text-center">
    <h3 class="characterName">{{character.characterName}}</h3>
    <ngb-progressbar type="danger" [value]="healthPercent"></ngb-progressbar>
    <img class="imageCharacter" [ngClass]="{'shakeAnimation': toggleShake, 'dashRightAnimation': toggleDashRight, 'dashLeftAnimation': toggleDashLeft}" src={{character.fullSprite}} alt="character" />
</div>