.characterName {
    color: white;
    white-space: nowrap;
}

.shakeAnimation {
    animation: shake 0.5s;
}

.dashRightAnimation {
    animation: dashRight 0.2s;
}

.dashLeftAnimation {
    animation: dashLeft 0.2s;
}

@keyframes shake {
    0% {
        transform: translate(5px, 5px) rotate(0deg);
    }

    10% {
        transform: translate(-5px, -10px) rotate(-5deg);
    }

    20% {
        transform: translate(-15px, 0px) rotate(5deg);
    }

    30% {
        transform: translate(15px, 10px) rotate(0deg);
    }

    40% {
        transform: translate(5px, -5px) rotate(5deg);
    }

    50% {
        transform: translate(-5px, 10px) rotate(-5deg);
    }

    60% {
        transform: translate(-15px, 5px) rotate(0deg);
    }

    70% {
        transform: translate(15px, 5px) rotate(-5deg);
    }

    80% {
        transform: translate(-5px, -5px) rotate(5deg);
    }

    90% {
        transform: translate(5px, 10px) rotate(0deg);
    }

    100% {
        transform: translate(5px, -10px) rotate(-5deg);
    }
}

@keyframes dashRight {
    0% {
        transform: translate(0px, 0px);
    }

    90% {
        transform: translate(50vw, 0px);
    }

    100% {
        transform: translate(40vw, 0px);
    }
}


@keyframes dashLeft {
    0% {
        transform: translate(0px, 0px);
    }

    90% {
        transform: translate(-50vw, 0px);
    }

    100% {
        transform: translate(-40vw, 0px);
    }
}