<div class="d-flex">
    <div id="characterListView" class="w-50 overflow-auto">
        <div class="d-flex flex-wrap" style="justify-content: center">
            <div *ngFor="let character of characters">
                <app-character [character]=character [addButton]=true (onCharacterAdded)="onCharacterAdded($event)"></app-character>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column w-50 justify-content-around">
        <h1 class="text-center">{{playerName}}</h1>
        <div id="characterPreview" class="d-flex justify-content-around align-items-center flex-row">
            <app-character *ngFor="let choosenCharacter of choosenCharacters" [character]="choosenCharacter" [addButton]=false></app-character>
        </div>
        <button class="btn btn-primary m-3" (click)="playClicked()" [disabled]="!readyToPlay"><h4>Selectionner une arène</h4></button>
    </div>


</div>