<div id="mainDiv" class="d-flex flex-column align-items-center justify-content-center">
    <div class="card w-25">
        <img src="https://fontmeme.com/images/super-smash-bros-latest-logo-min.png" class="card-img-top" alt="titleScreen">
        <div class="card-body">
            <nav class="d-flex align-items-center justify-content-center flex-column ">
                <button class="btn btn-primary m-3" (click)="createClicked()"><h4>Créer</h4></button>
                <div class="input-group input-group-lg text-center">
                    <input id="codeInput" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Code" #codeInput>
                </div>
                <button class="btn btn-primary m-3" (click)="joinClicked(codeInput.value)"><h4>Rejoindre</h4></button>
                <div *ngIf="code !== ''" class="alert alert-primary" role="alert">{{code}}</div>
            </nav>
            <hr/>
            <div class="input-group input-group-lg text-center">
                <input id="playerNameInput" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" placeholder="Pseudo" #playerNameInput>
            </div>
            <nav class="d-flex align-items-center justify-content-center">
                <button class="btn btn-primary m-3" (click)="playClicked(playerNameInput.value)"><h4>Jouer</h4></button>
            </nav>
            <div *ngIf="error !== ''" class="alert alert-danger" role="alert">{{error}}</div>
        </div>
    </div>
</div>
<app-footer></app-footer>