<div class="card heroCard m-3">
    <img class="card-img-top" src="https://i.ibb.co/4R30nt0/question-Mark.png" alt="Hero image">
    <div class="card-body">
        <label for="characterNameInput">Nom</label>
        <input id="characterNameInput" type="text" class="form-control card-title text-center" placeholder="Nom" #characterNameInput />


        <label for="characterHpInput">Vie</label>
        <input id="characterHpInput" type="number" class="form-control card-title text-center" placeholder="Vie" #characterHpInput />

        <label for="characterDefenseInput">Défense</label>
        <input id="characterDefenseInput" type="number" step="0.1" class="form-control card-title text-center" placeholder="Defense" #characterDefenseInput />

        <label for="characterIconInput">Icône</label>
        <input id="characterIconInput" type="text" class="form-control card-title text-center" placeholder="Icône" #characterIconInput />

        <label for="characterSpriteInput">Sprite</label>
        <input id="characterSpriteInput" type="text" class="form-control card-title text-center" placeholder="Sprite" #characterSpriteInput />

        <label>Attacks</label><br />
        <div class="input-group d-flex flex-column">
            <select *ngFor="let attackGroup of [' ',' ',' ',' ']; let i = index" [attr.data-index]="i" (change)="selectChanged(i,$event)" class="form-select m-0 attackPicker">
                <option selected>Choisir...</option>
                <option *ngFor="let attack of attacks" [value]="attack.id">{{attack.attackName}}</option>
            </select>
        </div>
        <hr />
        <div class="d-flex justify-content-center">

            <button class="btn btn-primary m-1" (click)="addCharacter(characterNameInput.value,+characterHpInput.value,+characterDefenseInput.value,characterIconInput.value, characterSpriteInput.value)">Ajouter</button>
        </div>

    </div>
</div>