<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <img width="60px"	alt="Logo" src="../../assets/logo.png"/>
        Mega VS Clown
      </a>
    </div>

    <ul class="navbar-nav">
      <li class="nav-item"><button class="btn btn-link text-dark text-decoration-none" (click)="adminClicked()">Admin</button></li>
    </ul>
  </div>

</nav>
