<div class="d-flex flex-column justify-content-around mainDiv">
    <ngb-carousel (slide)="onSlide($event)">
        <ng-template ngbSlide *ngFor="let arena of arenas">
            <div class="picsum-img-wrapper">
                <img class="w-100" src={{arena.sprite}} alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h1 class="shadowName">{{arena.arenaName}}</h1>
            </div>
        </ng-template>
    </ngb-carousel>

    <button class="btn btn-primary m-3" (click)="playClicked()"><h4>Combattre !</h4></button>
</div>