#arenaBackground {
    width: 100vw;
    height: 93vh;
}

#animatedImage {
    width: 100%;
    height: 60%;
    opacity: 1;
}

#animatedImageBack {
    position: absolute;
    width: 140%;
    height: 85vh;
    filter: blur(6px) brightness(0.15);
    z-index: -10;
}

#mainDiv {
    overflow-x: hidden;
}

#arenaName {
    position: absolute;
    text-align: center;
    width: 100vw;
    margin-top: 5vh;
    color: white;
}

.inFront {
    width: 20vw;
}

.characters {
    margin-top: 20vh;
    position: absolute;
    width: 100vw;
}

.attacks {
    position: absolute;
    margin-top: 75vh;
    width: 75vw;
    margin-left: 12vw;
    margin-right: 12vw;
    align-content: center;
}

.alertWinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}