<div id="mainDiv">
    <div class="d-flex flex-row justify-content-around characters">
        <app-character-ingame class="inFront" position='left' [character]="character1" #child1></app-character-ingame>
        <app-character-ingame class="inFront" position='right' [character]="character2" #child2></app-character-ingame>
    </div>
    <div class="d-flex flex-row justify-content-around attacks">
        <button *ngFor="let attack of attacks" type="button" class="btn btn-danger m-2" (click)="attackClicked(attack.attackName); (myIndexInGame===0?child1:child2).dash()">
            <h1>{{attack.attackName}}</h1>
        </button>
    </div>
    <div *ngIf="winner !== ''" class="alertWinner bg-dark p-3 rounded" role="alert">
        <h1 class="text-light">Joueur {{winner}} à gagné !</h1>
    </div>
    <h1 id="arenaName">{{arena.arenaName}}</h1>
    <img id="animatedImageBack" src={{arena.sprite}} alt="arena" />
    <div id="arenaBackground" class="d-flex justify-content-center flex-column">
        <img id="animatedImage" src={{arena.sprite}} alt="arena" />
    </div>
</div>