<div class="card heroCard m-3">
    <img class="card-img-top" src="{{character.sprite}}" alt="Hero image">
    <div class="card-body">
        <label for="characterNameInput">Nom</label>
        <input id="characterNameInput" type="text" class="form-control card-title text-center" [disabled]="disabled" value="{{character.characterName}}" #characterNameInput />

        <div *ngIf="!disabled">
            <label for="characterHpInput">Vie</label>
            <input id="characterHpInput" type="number" class="form-control card-title text-center" value="{{character.hp}}" #characterHpInput />

            <label for="characterDefenseInput">Défense</label>
            <input id="characterDefenseInput" type="number" step="0.1" class="form-control card-title text-center" value="{{character.defense}}" #characterDefenseInput />

            <label for="characterIconInput">Icône</label>
            <input id="characterIconInput" type="text" class="form-control card-title text-center" value="{{character.sprite}}" #characterIconInput />

            <label for="characterSpriteInput">Sprite</label>
            <input id="characterSpriteInput" type="text" class="form-control card-title text-center" value="{{character.fullSprite}}" #characterSpriteInput />
            <label>Attacks</label><br />
            <div class="input-group d-flex flex-column">
                <select *ngFor="let attackGroup of fourAttacks; let i = index" [attr.data-index]="i" (change)="selectChanged(i,$event)" class="form-select m-0 attackPicker">
                        <option *ngFor="let attack of allAttacks" [selected]="character.attacks[i].attackName === attack.attackName" [value]="attack.id">{{attack.attackName}}</option>
                    </select>
            </div>
            <hr />
            <div class="d-flex flex-column">
                <button class="btn btn-warning m-1" (click)="updateCharacter(characterNameInput.value,+characterHpInput.value,+characterDefenseInput.value,characterIconInput.value, characterSpriteInput.value)" [disabled]="disabled">Mettre à jour</button>
                <button class="btn btn-danger m-1" (click)="deleteCharacter()" [disabled]="disabled">{{deleteVerification ? "Valider" : "Supprimer"}}</button>

            </div>
        </div>
    </div>
</div>